# Managed by Puppet

[Unit]
Description=Oxidized - Network Device Configuration Backup Tool
After=network-online.target

[Service]
ExecStart=/usr/local/rvm/bin/oxidized
KillSignal=SIGKILL
User=oxidized

[Install]
WantedBy=multi-user.target
